<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joey.cloud.psn.mapper.RoleMapper">

    <select id="findRoleListByPsnId" resultType="com.joey.cloud.psn.entity.Role">
        SELECT t1.* from role t1 ,rel_person_role t2
        where t1.roleId=t2.roleId
        and t1.statusId=1
        and t2.psnId=#{params.psnId}
    </select>
</mapper>
